<%- include('../includes/header.ejs') %>

<section class="gradient-form" style="background-color: #eee;">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="/assets/img/f24_logo.png" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1"></h4>
                </div>

                <form method="POST" action="/loginUser">
                  <h4>Log In</h4>
                  <p>Focus24 Portal</p>

                  <% if(typeof errorMessage == "undefined"){ %>

                  <% } else { %>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= errorMessage %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  <%}%>

                  <div class="form-outline mb-4">
                    <input name="emailadres" type="email" id="username" class="form-control" placeholder="Emailadres" />
                  </div>

                  <div class="form-outline mb-4">
                    <input name="password" type="password" id="password" class="form-control"
                      placeholder="Wachtwoord" />
                  </div>

                  <div class="pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log in</button>
                  </div>


                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2 text-muted">Geen account of wachtwoord vergeten? neem contact op met een
                      administrator.</p>
                  </div>

                </form>


              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Jouw partner in ondernemen</h4>
                <p class="small mb-0">Succesvol ondernemen in een snel veranderend digitaal landschap brengt uitdagingen
                  met zich mee. In die uitdagingen zien wij kansen. Door onze brede kennis in klant contact, backoffice
                  en IT-oplossingen hebben wij voor ieder vraagstuk een oplossing.</p>
                <p></p>
                <p class="small mb-0">Binnen Focus24 zien wij onze klanten als partners. Als partner zijn wij 24/7 bezig
                  met het succes van
                  jouw onderneming.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../includes/footer.ejs') %>
</section>