<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/portal">
        <img src="/assets/img/f24_smallest.png" alt="Focus24 brand logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item p-3">
            <form action="/logoutUser" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="btn btn-danger">Log Out</button>
            </form>
          </li>
      </div>
    </div>
  </nav>
</div>