<%- include('../includes/header.ejs') %>

<%- include('../includes/navigation.ejs') %>

<div class="container mt-3">
  <div class="row p-3">
    <h4><span id="daypart"></span>, <%= user.voornaam %></h4>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <a href="/portal/customers" class="app_link">
        <div class="card text-center">
          <img src="/assets/img/cms.png" class="card-img-top" alt="Klanten">
          <div class="card-body">
            <h5 class="card-title">Klanten</h5>
            <p class="card-text">Inzicht klantgegevens</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <div class="card text-center">
        <img src="/assets/img/hours.png" class="card-img-top" alt="Urenregistratie">
        <div class="card-body">
          <h5 class="card-title">Urenregistratie</h5>
          <p class="card-text">Registreer je gewerkte uren.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <a href="/portal/tts" class="app_link">
        <div class="card text-center">
          <img src="/assets/img/texttospeech.png" class="card-img-top" alt="Text-to-Speech">
          <div class="card-body">
            <h5 class="card-title">Text-to-speech</h5>
            <p class="card-text">IVR berichten inspreken.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="/portal/users" class="app_link">
        <div class="card text-center">
          <img src="/assets/img/users.png" class="card-img-top" alt="User management">
          <div class="card-body">
            <h5 class="card-title">User management</h5>
            <p class="card-text">Beheer van portal gebruikers.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<%- include('../includes/footer.ejs') %>